<div class="topnav">
  <a><img src="../../assets/1.png" alt="company" width="170" height="60"></a>
  <a>Product</a>
  <a>Contact</a>
  <a>Search</a>
  <a>About</a>     
</div>
<div class="container">
<h3 class="col-md-auto">Login</h3>
 <div class="form">
  <div class="form-group">
   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 offset-md-4 col-lg-6"> 
     <label>Username</label><br>        
      <input 
        type="text" 
        class="form-control"  
        [(ngModel)]="user.username"
        name="username" 
        placeholder="Username"                            
        required
      >
    </div>
   </div><br>
   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 offset-md-4 col-lg-6"> 
     <label>Password</label><br>        
      <input 
        type="password" 
        class="form-control"  
        [(ngModel)]="user.password"
        name="password" 
        placeholder="Password"                            
        required
      >
    </div>
   </div><br>
   <button 
     class="btn btn-primary col-md-6" 
     [disabled]="!(user.username && user.password)"
     type="submit"  
     (click)="login(user)"       
     >Login</button>
  </div>
  <br><br>
    <button 
    class="btn btn-primary col-md-6" 
    routerLink=""
    type="button"    
    >Register</button>
 </div>
</div>